.main-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio-aboutme {
  text-align: left;
}

.bio-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bio-darts img,
.bio-smoker img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* width: clamp(150px, 60%, 350px); */
  border-radius: 5%;
}

.list-aboutme li {
  text-align: left;
}

.skill-title {
  color: var(--rich-black);
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0;
}

ul {
  list-style-type: disc;
  color: var(--rich-black);
  font-size: 1.3rem;
  border: 5px solid var(--steel-blue);
  border-radius: 20px;
  padding: 10px 30px;
  padding-top: 1.2em;
  margin-left: 1.3em;
  margin-right: 1.3em;
  margin-bottom: 2em;
}

ul:hover {
  box-shadow: 8px 8px var(--lapis-lazuli);
}

.sub-list {
  padding-left: 1rem;
}

.list {
  line-height: 1.4rem;
  margin-top: 0.5em;
  padding-bottom: 1rem;
}

main .skills li {
  position: relative;
  list-style: none;
  border-left: 3px solid var(--steel-blue);

  padding-bottom: 1rem;
  padding-left: 10px;
  margin-left: 10px;
}

/* Custom disc Icons */
.list-aboutme li:before {
  content: "";
  width: 15px;
  height: 15px;
  background: white;
  border: 2px solid var(--steel-blue);
  box-shadow: 3px 3px 0px var(--lapis-lazuli);
  border-radius: 50%;
  position: absolute;
  margin-left: -1em;
}

.skills li:last-child {
  position: relative;
  list-style: none;
  border-left: 0px solid white;
  padding-bottom: 1.4rem;
  padding-left: 10px;
  margin-left: 10px;
}

@media screen and (min-width: 600px) {
  .main-bio {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .bio-darts img,
  .bio-smoker img {
    box-shadow: 8px 8px var(--lapis-lazuli);
  }
}
