main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  width: 80%;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid var(--steel-blue);
  box-shadow: 0 0 10px var(--steel-blue);
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.contact-form p {
  margin-bottom: 1em;
}

.submit-btn {
  color: var(--rich-black);
  font-size: 1.3rem;
  border: none;
  border: 5px solid var(--steel-blue);
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 8px 8px var(--lapis-lazuli);
  opacity: 100%;
}

.field {
  font-size: 1rem;
  height: 3em;
  margin-bottom: 1em;
  background-color: rgba(230, 230, 230, 0.6);
  border: none;
}

.field:focus {
  outline: none !important;
  border: 1px solid var(--steel-blue);
  box-shadow: 0 0 10px var(--steel-blue);
}

.message {
  font-size: 1rem;
  margin-bottom: 1em;
  background-color: rgba(230, 230, 230, 0.6);
  border: none;
}

.message:focus {
  outline: none !important;
  border: 1px solid var(--steel-blue);
  box-shadow: 0 0 10px var(--steel-blue);
}

@media screen and (min-width: 600px) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .contact-form {
    width: 30%;
  }
}
