.welcome {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.intro-personal {
  max-width: 90%;
  margin-bottom: 5em;
}

.developer-home-image img {
  height: 30vh;
  object-fit: cover;
  border-radius: 5%;
  box-shadow: 5px 5px var(--lapis-lazuli);
}

.learn-more-btn {
  background-color: var(--steel-blue);
  color: white;
  font-size: 1.3rem;
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  box-shadow: 5px 5px var(--lapis-lazuli);
}

.learn-more-btn:hover {
  background-color: var(--picton-blue);
  cursor: pointer;
  opacity: 70%;
}
