:root {
  /* CSS HEX */
  /* --cherry-blossom-pink: #edafb8ff;
  --champagne-pink: #f7e1d7ff;
  --timberwolf: #dedbd2ff;
  --ash-gray: #b0c4b1ff;
  --outer-space: #4a5759ff; */

  /* CSS HEX Blue */
  /* --federal-blue: #03045eff;
  --honolulu-blue: #0077b6ff;
  --pacific-cyan: #00b4d8ff;
  --non-photo-blue: #90e0efff;
  --light-cyan: #caf0f8ff; */

  /* CSS HEX Darker Blue */
  --picton-blue: #00a6fbff;
  --steel-blue: #0582caff;
  --lapis-lazuli: #006494ff;
  --prussian-blue: #003554ff;
  --rich-black: #051923ff;

  /* 
  light cyan font on honolulu
  non photo blue shadows
  */

  font-family: sans-serif;
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--rich-black);

  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

header {
  background-color: var(--lapis-lazuli);
  height: 10vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--rich-black);
}

.name-logo {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--steel-blue);
  color: white;
  padding: 0.5em;
  border-radius: 10px;
  margin-left: 1em;
  text-decoration: none;
  box-shadow: 5px 5px var(--prussian-blue);
}

.name-logo:hover {
  background-color: var(--steel-blue);
  box-shadow: 5px 5px var(--picton-blue);
}

nav {
  width: 40vw;
  margin-right: 25px;
  color: var(--light-cyan);
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  transition-duration: 0.5s;
  /* width: 100%; */
  padding: 15px;
  margin: auto;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: transparent;
}

.nav-link:hover {
  background-color: var(--picton-blue);
  cursor: pointer;
  opacity: 70%;
}

.menu-btn {
  display: flex;
  background: transparent;
  border: none;
  z-index: 100;
  width: 100%;
}

/* Style the google font menu */
.menu-btn .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 3rem;
  max-width: 50px;
  margin-left: auto;
  color: white;
  opacity: 70%;
}

.menu-btn .material-symbols-outlined:hover {
  opacity: 50%;
  cursor: pointer;
}

.menu-closed {
  display: none;
  background-color: var(--steel-blue);
  opacity: 90%;
  border-radius: 20px;
  width: 40vw;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.portfolio-logo > img {
  margin-left: 1em;
  height: 5vh;
  object-fit: cover;
}

main {
  min-height: 80dvh;
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

main > * {
  margin: 1em;
}

#welcome {
  margin-top: 2em;
}

.intro-personal {
  max-width: 90%;
  margin-bottom: 5em;
}

#developer-home-image img {
  height: 30dvh;
  object-fit: cover;
  border-radius: 5%;
  box-shadow: 5px 5px var(--lapis-lazuli);
}

.learn-more-btn {
  background-color: var(--steel-blue);
  color: white;
  font-size: 1.3rem;
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  box-shadow: 5px 5px var(--lapis-lazuli);
}

.learn-more-btn:hover {
  background-color: var(--picton-blue);
  cursor: pointer;
  opacity: 70%;
}

footer {
  background-color: var(--lapis-lazuli);
  color: var(--light-cyan);
  height: 10dvh;
  width: 100%;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.socials-icon {
  height: 5dvh;
}

h6 {
  color: white;
}

/*
Bring out the nav links on desktop view 
Set a word wrap length on desktop 60% - 70%

.menu-closed {
    display: none;
    background-color: #7e8d85;
    opacity: 90%;
    border-radius: 20px;
    width: 40vw;
}
Width needs to change for desktop view
*/
